@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-color-primary: #ffffff;
  --text-primary-color-: #111111;
  
  --light-background-color-primary: #ffffff;
  --light-text-primary-color-: #111111;

  --dark-background-color-primary: #111111;
  --dark-text-primary-color-: #ffffff;
}

.dark-theme{
  --background-color-primary: #111111;
  --text-primary-color: #ffffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body{
  background-color: var(--background-color-primary);
  color: var(--text-primary-color);
}

.wrapper{
  width: 60%;	
  margin: 0 auto;
  max-width: 2500px;
}

.flex{
  display: flex;
}

@media (max-width: 768px){
  .wrapper{
    width: calc(100% - 40px); 
    padding: 0 20px; 
  }
}

